<section id="blog">

  <%# Heading %>
  <div class="blog-heading">
    <span>Recent Post</span>
    <h3>My Blog</h3>
  </div>

  <%# Blog Container %>

  <div class="blog-container">
    
    <%# Box 1 %>
    <div class="blog-box">
      <div class="blog-img">
        <%= image_tag "" %>
      </div>

      <%# text %>
      <div class="blog-text">
        <span>text here</span>
      </div>
    </div>
  </div>

</section>